<app-header></app-header>
<nav class="navbar fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['pagina-inicial']">Sistema VidaPet</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Bem vindo</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['pagina-inicial']">Página Inicial</a>
            </li>
            <li>
              <a class="nav-link active" aria-current="page" [routerLink]="['clientes-adm']">Clientes</a>
            </li>
            <li>
              <a class="nav-link active" aria-current="page" [routerLink]="['funcionarios']">Funcionários</a>
            </li>
            <li>
              <a class="nav-link active" aria-current="page" [routerLink]="['servicos']">Serviços</a>
            </li>
            <li>
              <a class="nav-link active" aria-current="page" [routerLink]="['agendar-consulta']">Agendar Consulta</a>
            </li>
            <li>
              <a class="nav-link active" aria-current="page" [routerLink]="['clientes-func']">Clientes</a>
            </li>
              <a class="nav-link active" aria-current="page" [routerLink]="['historico']">Histórico</a>
            <li>
              <a class="nav-link active" aria-current="page" [routerLink]="['nova-consulta']">Nova Consulta</a>
            </li>
          </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
</nav>
<br>
<app-footer></app-footer>
